/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 16px;
  }
p{
	margin-top: 0;
	margin-bottom: 1rem;
}
body {
	margin: 0;
	padding: 0;
 }

.section-headings{
	margin-top: 50px;
    text-align: center;
    font-size: 28px;
    font-style: normal;
}
/*--------------------------------------------------------------
# Navigation Bar
--------------------------------------------------------------*/
.navigationbar{
	display:flex;
	flex-direction:row;
	height: 50px;
    justify-content: space-between;

}
.nav-bar{
	display: flex;
	margin: auto 5px auto 0px;
	list-style-type: none;
    padding-left: 0px;
}
.nav-item{
	align-self: center;
	padding: 10px 15px;
}
.nav-link{
	text-decoration: none;
	color: black;
}
.nav-link:hover{
	color:black;
}

.logo{
	padding-left: 10px;
	height:30px;
	width:150px;
}
/* SIDE NAV */
.navigationbar-mobile{
	display: none;
}
/* hamburger */
#menu__toggle {
	opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
	visibility: visible;
	right: 0;
  }
  
  .menu__btn {
	display: flex;
	align-items: center;
	position: fixed;
	top: 20px;
	right: 20px;
  
	width: 26px;
	height: 26px;
  
	cursor: pointer;
	z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
	display: block;
	position: absolute;
  
	width: 100%;
	height: 2px;
  
	background-color: #616161;
  
	transition-duration: .25s;
  }
  .menu__btn > span::before {
	content: '';
	top: -8px;
  }
  .menu__btn > span::after {
	content: '';
	top: 8px;
  }
  
  .menu__box {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	right: -100%;
  
	width: 300px;
	height: 100%;
  
	margin: 0;
	padding: 80px 0;
  
	list-style: none;
  
	background-color: #ECEFF1;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  
	transition-duration: .25s;
  }
  
  .menu__item {
	display: block;
	padding: 12px 24px;
  
	color: #333;
  
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 600;
  
	text-decoration: none;
  
	transition-duration: .25s;
  }
  .menu__item:hover {
	background-color: #CFD8DC;
  }


/*--------------------------------------------------------------
# SlideShow
--------------------------------------------------------------*/
/* .slide-img{  
	object-fit: contain;
	max-width:100%;
	max-height: 70%;
	background-image: url("../images/others/top-section_4360x1500.jpg");
} */

.slide-img {
	background-image: url("../images/others/top-section_4360x1500.jpg");
	/* height: 500px;
	
	background-size: cover;
	position: relative; */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 500px;
  }
  
  .slide-text {
	text-align: center;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
  }
  
  .slide-btn {
	background-color: rgb(19, 111, 204);
	color: white;
	margin: 0;
	padding: 12px;
	border-radius: 3px;
	font-size: 16px;
	border: none;
}

/* heroooooooooooooo */

.hero {
    /* Sizing */
	width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white; /* ADD THIS LINE */

	/* Background styles */
	background-image: url("../images/others/top-section_4360x1500.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    /* Text styles */
    font-size: 3em;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}
.hero-text{
	text-align: center;
}
.hero .btn {
    /* Positioning and sizing */
    /* display: block;
    width: 100px; */
    
    /* Padding and margins */
    /* padding: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; */
    
    /* Text styles */
    /* color: white;
    text-decoration: none;
    font-size: 1.5em;
     */
    /* Border styles */
    /* border-radius: 20px; */
    
    /* Background styles */
	/* background-color: rgb(19, 111, 204); */

	/* --- */
	background-color: rgb(19, 111, 204);
	color: white;
	margin: 0;
	padding: 12px;
	border-radius: 3px;
	font-size: 16px;
	border: none;
	text-decoration: none;
}
/*--------------------------------------------------------------
# news
--------------------------------------------------------------*/
.news-title{
	font-size: 20px;
	text-align: center;
	padding: 40px 20% 0px 20%;
}
.news-paragraph{
    font-size: 16px;
    font-style: italic;
	text-align: center;
	padding: 40px 20% 0px 20%;
}
.grid-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	padding: 0px 8%;
    margin-top: 40px;
	justify-content: space-evenly;
}
.card-custom{
	display: flex;
	flex-direction: column;
}
.card-img-top{
	width: 100%;
	padding-bottom: 8px;
}

.card-body, .card-footer{
	margin:0px;
	padding: 0px;
}
.card-title{
	font-size: 13px;
}
.card-text{
	padding-top: 5px;
	font-size: 13px;
}

.card-heading{
	margin-top: 20px;
	text-align: center;
	font-size: 20px;
}

.card-btns{
    background-color: white;
      color: black;
      border: 2px solid black;
      border-radius: 18px;
      padding: 5px 5px;
      margin: 0px 5px 0px 0px;
}

.ftr-crd-text{
	text-align: center;
}
.crd-footer{
	display: flex;
	flex-shrink: 1;
	align-items: flex-start;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.card-img-features{
	border:1px solid lightgray;
	padding:10px;
}

.feature-card-text{
	text-align: center;
}

/*--------------------------------------------------------------
# Benefits
--------------------------------------------------------------*/
.grid-container-benefits{
	width: 60%;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-row-gap: 10px;
	margin: 20px auto;
}
.benefit-title{
	font-size: 20px;
}
.benefit-text{
    font-size: 14px;
}
.benefit-flexbox{
	display: flex;
	align-items: center;
}
.benefit-img{
	align-self: center;
	height: 80px;
	padding-right: 50px;
}

/*--------------------------------------------------------------
# Video Collections
--------------------------------------------------------------*/

.flex-container-vidcollection{
	display: inline-flex;
	justify-content: center;
	padding-top: 25px;
	padding-bottom: 25px;
	width:100%;
}

.startup-col{
	max-width: 400px;
	flex-basis: auto; 
	flex-grow: 1;
	background-image: url("../images/collections/collection-startup_460x184.png");
}

.ml-col{
	max-width: 400px;
	flex-basis: auto; 
	flex-grow: 1;
	background-image: url("../images/collections/collection-ml_461x184.png");
}
.startup-col, .ml-col{
	display: flex;
	height: 140px;
	flex: 1 1 100%;
	margin: 0px 20px;
	justify-content: center;
	align-items: center;
}

.collection-heading{
    color:#ffffff;
    text-align: center;
}
.vid-col-paragraph{
	text-align: center;
	padding: 20px 20%;
}


/*--------------------------------------------------------------
# ClipMine Users
--------------------------------------------------------------*/

.uses-clipmine-container{
	display: grid;
	justify-content: center;
	background-color: #ffffff;
}
.grid-container-CMusers{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	justify-items: center;
	align-items:center;
}
.CMuser-img{
	height: 140px;
	width: 260px;
	border:none;
}

/*--------------------------------------------------------------
# Tag
--------------------------------------------------------------*/
.tag{
	min-height: 150px;
	max-height: 150px;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-row-gap: 2px;
	align-items: center;
    justify-content: center;
    margin: 10px 10px 30px 10px;
}
.tag-search-container{
	display: flex;
	flex-direction: row;
}

.search-bar{
	width: 350px;
	padding: 12px 20px;
	margin: 0px 8px;
	display: inline-block;
	border: 1px solid rgb(192, 188, 188);
	border-radius: 4px;
	box-sizing: border-box;
}

.tag-span{
	display: flex;
	align-items: center;
}

.tag-btn {
	background-color: rgb(19, 111, 204);
	color: white;
	margin: 0;
	padding: 12px;
	border-radius: 3px;
	font-size: 16px;
	border: none;
}

/*--------------------------------------------------------------
# Supported Platforms
--------------------------------------------------------------*/

.sup-platforms{
	background-color: #dfdfdf;
	display: grid;
	grid-template-rows: 2;
	padding-top: 40px;
	padding-bottom: 40px;
}
.sp-img{
	align-self: flex-start;
	justify-self: center;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer-pages{
	display: flex;
	justify-content: center;
	background-color: rgb(78, 78, 78);
}
.footer-pages a{
	color: rgb(7, 105, 204);
	text-decoration: none;
	font-size: 12px;
	padding: 8px 8px;
}
.copyrights-footer{
    background-color: black;
    padding-top: 10px;
    padding-bottom: 1px;
}
.copyrights-footer-content{
	text-align: center;
	font-size: 12px;
	color: white;
}

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

@media (max-width:768px){
	.uses-clipmine-container{
		display: grid;
		justify-content: center;
		background-color: #ffffff;
	}
	.grid-container-CMusers{
		grid-template-columns: 1fr 1fr;
	}
	.sp-img{
		width:60%;
	}
	.tag-btn{
		font-size: 11px;
		padding: 13px;
	}
	.grid-container-benefits{
		width:75%;
	}
	.tag{
		min-height: 150px;
		max-height: 150px;
		padding-bottom: 40px;
	}
	.navigationbar-mobile{
		display: none;
	}
	.benefit-title{
		text-align: center;
	}
	
	
	
}
@media (max-width: 425px){
	.navigationbar-mobile{
		display:flex;
		flex-direction:row;
		height: 50px;
		justify-content: space-between;
	}

	.uses-clipmine-container{
		display: grid;
		justify-content: center;
		background-color: #ffffff;
	}
	.grid-container-CMusers{
		grid-template-columns: 1fr;
	}
	.navigationbar{
		display: none;
	}
	.grid-container{
		grid-template-columns: 1fr;
		margin-top: 0px;
	}
	.paragraph{
		padding: 20px 10% 0px 10%;
	}
	.card-body{
		margin-bottom: 10px;
	}
	.vid-col-paragraph{
		padding: 20px 10%;
	}
	.benefit-flexbox{
		flex-direction: column;
	}
	.benefit-title{
		text-align: center;
	}
	.benefit-flexbox div h5{
		text-align: center;
	}
	.benefit-img{
		padding-right: 0px;
	}

	.search-bar{
		width:220px;
	}

	
}